.dashboard {
  width: 1000px;
  max-width: 100%;
  margin: 2rem auto;
}

.dashboard h1 {
  color: #6B7280;
  font-size: 1.5rem;
  line-height: 2;
}

.quotes span {
  line-height: 3;
}

.quote-actions {
  margin: 1rem 0;
}
