<div class="card">
  <p-panel [toggleable]="false">
    <ng-template pTemplate="header">
      <div class="card-header">
        <div class="card-user">
          <p-avatar label="{{ firstLetter }}" styleClass="mr-2" size="large"></p-avatar>
          <span class="font-bold">{{ quote.username }}</span>
        </div>
        <div>
          <span class="p-text-secondary">{{ quote.created_at }}</span>
        </div>
      </div>
    </ng-template>
    <div class="card-body">
      <p *ngIf="quote.quote">{{ quote.quote }}</p>
      <cite *ngIf="quote.author">{{ quote.author }}</cite>
      <span *ngIf="message">{{ message }}</span>
    </div>
    <ng-template pTemplate="footer">
      <div class="card-footer" *ngIf="quote.quote">
        <p-button [disabled]="loading" (onClick)="load()" icon="pi pi-refresh" [rounded]="true"></p-button>
      </div>
    </ng-template>
  </p-panel>
</div>
