<app-navbar [items]="items"></app-navbar>

<div class="login">
  <div class="login-form-header">
    <h1>Auth</h1>

    <input pInputText placeholder="Email" [(ngModel)]="user.email" />
    <p-password [toggleMask]="true" placeholder="Password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [(ngModel)]="user.password"></p-password>
  </div>

  <div class="login-form-footer">
    <p-button label="Login" (onClick)="auth()" icon="pi pi-sign-in" severity="secondary"></p-button>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
